
body{
	display: flex;
	font-family: Raleway, sans-serif;
	margin:0;
	padding: 0;
	flex-direction: column;
}

.header-container{
margin: auto;
width: 95%;
}

.flex-header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* width:768; */
	justify-content: space-between;
}

.header-links{
	display: flex;
	align-self:self-end;
}

.header-link-item{
	padding: 10px;	
}

.footer{
	margin:auto;
	width: 95%;
}

.footer-container{
	margin:auto;
	width: 95%;
}

.flex-footer{
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: space-evenly;
/* 	margin: auto;
	width:95%;
 */	flex-wrap: wrap;
	border-style: dashed;
}

.footer-column{
width: 300px;

}

.footer-list{
	list-style: none;
	justify-content: left;
}

.page-container{
	margin: auto;
	width: 95%;
}

.flex-page{
	display: flex;
	flex-direction: column;
}

.search-field{
}

.search-field span{
	position: absolute;
}

.money-span{
	min-width: 50px;
	color: #0065FC;
	text-align: center;
	background-color: #F2F2F2;
	border-radius: 50%;
	min-height: 50px;
	align-content: center;
}

.input-field{
	width: 300px;
	text-align: center;
	min-height: 50px;
	border-style:none;
	border-radius: 15px;
}

.search-button{
	border-radius: 0px 10px 10px 0;
	background-color:#0065FC;
	min-height: 50px;
	color:white;
	min-width: 100px;
}

.flex-filters{
	display: flex;
	flex-direction: row;
}

.accommodations-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #F2F2F2;
	width:auto;	
}

.accommodation-item{	
/* 	height: 150px;
	width:300px;
 */	border-radius:10px;
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-flexbox;
    /* To horizontally center images and caption */
    text-align: left;
}

.flex-page-main{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

.most-popular-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #F2F2F2;
	width: auto
}

.most-popular-item{
	height: 150px;
	width:300px;
	border-radius:10px;
    /* To correctly align image, regardless of content height: */
    vertical-align: text-bottom;
    display: inline-flexbox;
    /* To horizontally center images and caption */
    text-align: left;
	padding: 10px;

}

.activities-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #F2F2F2;
	width: auto;
}

.activities-item{
	height: 150px;
	width:300px;
	border-radius:10px;
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-flexbox;
    /* To horizontally center images and caption */
    text-align: left;
	padding:10px;
}

img {
    min-width: 300px;
    max-height: 150px;
	border-radius: 10px;

}





