
body{
	font-family: Raleway, sans-serif;
	margin:0;
	padding: 0;
}

.filter-button-wrapper{
	background-color: white;
	display: flex;
	align-items: center;
}

.filter-button{
	border-radius: 10px;	
	display: flex;
 	align-items: center; 
	height: 30px;
	width:auto;
	border-style: solid;
	border-color: lightgray;
	margin-left: 50px;
}

.filter-button:hover{
	background-color:lightgray;
}

.filter-span-icon{
	color: #0065fc;
	background-color: #DEEBFF; 
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -10px;
}

.filter-span-text{
	font-size:small;
	font-weight: bold;
	margin-left: 5px;
}